<div class="flex justify-center">
  <div class="chat-container bg-slate-50 p-8">
    <div class="message-container" #messageContainer>
      <div *ngFor="let message of messages" class="flex" [ngClass]="{'flex-row-reverse': username === message.username}">
        <div class="message" [ngClass]="{'my-message' : username === message.username}">{{message.message}}</div>
      </div>
    </div>

    <form class="sending-container" #form (submit)="onSendMessage($event, form, messageInput)">
      <input type="text" name="message" #messageInput class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
      <button type="submit" class="bg-[#6b9dc4] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Button
      </button>
    </form>
  </div>
</div>
